* {
  font-family: "Roboto";
}

body {
  margin: 0px;
}
body .mainContainer {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  gap: 0px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  gap: 0px;
}
@media screen and (min-width: 768px) {
  main {
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  gap: 25px;
  padding: 25px;
  background-color: #353535;
}
footer h4 {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
footer .footer_navs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_navs .footer_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_navs .footer_nav .footer_icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .footer_navs .footer_nav .footer_icon i {
  color: white;
}
footer .footer_navs .footer_nav .footer_icon h5 {
  font-family: Roboto;
  font-size: 16px;
  color: white;
  font-weight: 100;
}
footer .footer_navs .footer_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_navs .footer_contact a h5 {
  font-family: Roboto;
  font-size: 16px;
  color: white;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    padding-right: 50px;
    padding-top: 50px;
  }
  footer .footer_navs {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  footer .footer_navs .footer_nav {
    display: flex;
    flex-direction: row;
  }
  footer .footer_navs .footer_contact {
    display: flex;
    flex-direction: row;
  }
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 70px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
header a {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a .fa-arrow-left {
  font-size: 18px;
  color: #353535;
}
header .logo_header {
  height: 100%;
  width: auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main_location form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.main_location form i {
  color: #353535;
}
.main_location form input {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  width: 150px;
}
.main_location .description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 0px;
}
.main_location .description .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.main_location .description .main_description_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.main_location .description .pink_button {
  border-radius: 25px;
  color: white;
  font-weight: 400;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(26, 25, 25, 0.25);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.main_location .description .pink_button:hover {
  box-shadow: 5px 5px 5px #2a2b2b;
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
  transition-duration: 0.9s;
}

.main_fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 40px 0px;
}
.main_fonctionnement .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px 40px;
}
@media screen and (min-width: 768px) {
  .main_fonctionnement .title {
    margin: 0px 150px;
  }
}
.main_fonctionnement .fonction_buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}
@media screen and (min-width: 768px) {
  .main_fonctionnement .fonction_buttons {
    margin: 0px 150px;
  }
}
@media screen and (min-width: 768px) {
  .main_fonctionnement .fonction_buttons {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }
}
.main_fonctionnement .fonction_buttons .button_fonction {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main_fonctionnement .fonction_buttons .button_fonction {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
    width: 30%;
  }
}
.main_fonctionnement .fonction_buttons .button_fonction .num_cercle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
}
.main_fonctionnement .fonction_buttons .button_fonction .button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: calc(100% - 30px);
  height: 70px;
  background: #f7f7f7;
  padding-left: 30px;
}
.main_fonctionnement .fonction_buttons .button_fonction .button .icon_1 {
  color: #9356dc;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_fonctionnement .fonction_buttons .button_fonction .button .icon {
  color: #7E7E7E;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_fonctionnement .fonction_buttons .button_fonction .button h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 40px 0px;
}
.restaurants .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px 40px;
}
@media screen and (min-width: 768px) {
  .restaurants .title {
    margin: 0px 150px;
  }
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0px 40px;
}
@media screen and (min-width: 768px) {
  .restaurants .cards {
    margin: 0px 150px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: unset;
    row-gap: 40px;
    justify-content: space-between;
  }
}
.restaurants .cards .card {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .restaurants .cards .card {
    width: 48%;
  }
}
.restaurants .cards .card .card_img {
  width: 100%;
  height: 70%;
}
.restaurants .cards .card .card_img .new {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #99e2d0;
  background: #99e2d0;
  color: #008766;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}
.restaurants .cards .card .card_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .cards .card .card_details {
  padding: 0px 15px;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .cards .card .card_details .card_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.restaurants .cards .card .card_details .card_info h2 {
  font-family: roboto;
  font-weight: 700;
  font-size: 18px;
}
.restaurants .cards .card .card_details .card_info p {
  font-family: roboto;
  font-weight: 400;
  font-size: 17px;
}
.restaurants .cards .card .card_details .heart {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.restaurants .cards .card .card_details .heart i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  transition: opacity 1.7s ease;
}
.restaurants .cards .card .card_details .heart .fa-regular {
  color: black;
  opacity: 1;
}
.restaurants .cards .card .card_details .heart .fa-solid {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.restaurants .cards .card .card_details .heart:hover .fa-regular {
  opacity: 0;
}
.restaurants .cards .card .card_details .heart:hover .fa-solid {
  opacity: 1;
}

.loader {
  font-weight: 400;
  font-family: Shrikhand;
  font-size: 50px;
  display: inline-flex;
  color: #ff79da;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

.loader::before {
  content: "oh";
  color: #9356dc;
  animation: l27 2s infinite;
}

.loader::after {
  content: "myfood";
  animation: l27 2s infinite 1s;
}

@keyframes l27 {
  50%, 100% {
    transform: rotate(1turn);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=index.css.map */
