.main_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1024px) {
   width: 100%;
}
  form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #eaeaea;
    @include header_shadow;

    i {
      color: #353535;
    }
    input {
      border: none;
      background-color: transparent;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      width: 150px;
    }
  }

  .description {
    @include flexCol;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    @include square;
    .title {
      @include title;
    }
    .main_description_text {
      @include description;
    }
    .pink_button {
      @include button-style;
      text-align: center;
      &:hover {
        @include button-hover;
      }
    }
  }
}
