footer {
  @include flexCol;
  gap: 25px;
  padding: 25px;
  background-color: #353535;
  h4 {
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
  .footer_navs {
    @include footerflexcol;

    .footer_nav {
      @include footerflexcol;

      .footer_icon {
        display: flex;
        flex-direction: row;
        gap: 10px;

        i {
          color: white;
        }
        h5 {
          @include footernavstyle;
        }
      }
    }
    .footer_contact {
      @include footerflexcol;

      a {
        h5 {
          @include footernavstyle;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    padding-right: 50px;
    padding-top: 50px;

  
    
    .footer_navs {
      display: flex;
      flex-direction: row;
      gap: 30px;
      
      .footer_nav {
        display: flex;
        flex-direction: row;
  
       
      }
      .footer_contact {
        display: flex;
        flex-direction: row;
  
       
      }
    }
  }
}
